<div id="target">
  <div id="scope">
    <a href="{{ url_for('scope.show', resource_id=maintenance.scope.id) }}">{{ maintenance.scope.name }}</a>
  </div>
  /
  <div id="service">
    <a href="{{ url_for('service.show', resource_id=maintenance.service.id) }}">{{ maintenance.service.name }}</a>
  </div>
</div>
{% if maintenance.external_reference %}
  <div id="external_reference" class="badge external_reference">{{ maintenance.external_reference }}</div>
{% endif %}
<div id="status" class="badge maintenance {{ maintenance.status.value }}">{{ maintenance.status.name }}</div>
{% if maintenance.description %}
<div id="description">
  {% for line in maintenance.description.split('\n') %}
  <p>{{ line }}</p>
  {% endfor %}
</div>
{% endif %}

{% set dots = [] %}
{% if maintenance.scheduled_start_date %}
    {% set __ = dots.append(("scheduled_start_date", "scheduled start", maintenance.scheduled_start_date, "🕑")) %}
{% endif %}
{% if maintenance.start_date %}
    {% set __ = dots.append(("start_date", "start", maintenance.start_date, "▶️")) %}
{% endif %}
{% if maintenance.scheduled_end_date %}
    {% set __ = dots.append(("scheduled_end_date", "scheduled end", maintenance.scheduled_end_date, "🕙")) %}
{% endif %}
{% if maintenance.end_date %}
    {% set __ = dots.append(("end_date", "end", maintenance.end_date, ((maintenance.status.value == "succeed") | ternary("✅", "❌")))) %}
{% endif %}
{% include "fragments/timeline/horizontal.html" %}
