{% if (ongoing_maintenances.count()) > 0 %}
{% set scope_id = (scope | default({})).id | default(None) %}
{% set service_id = (service | default({})).id | default(None) %}
<h2 id="ongoing_maintenances">
  <a href="{{ custom_url_for('maintenance.list', status=ongoing_maintenances_filters, scope=scope_id, service=service_id) }}">
    {{ icon('maintenance') }}{{ _("maintenance_ongoing").capitalize() }} {{ icon("angle-right") }}
  </a>
</h2>
{% set resource_type = "maintenance" %}
{% set resource_endpoint = "maintenance" %}
{% set resources = ongoing_maintenances %}
{% set resource_attributes = [
  ("string", "name"), ("obj", "scope"), ("obj", "service"), ("enum", "service_status"), ("enum", "status"), ("string", "external_reference"), ("date", "scheduled_start_date"), ("date", "scheduled_end_date")
] %}
{% include "fragments/table.html" %}
{% endif %}
