{% if (past_maintenances.count()) > 0 %}
<h2 id="past_maintenances">Past maintenances</h2>
{% set resource_type = "maintenance" %}
{% set resource_endpoint = "maintenance" %}
{% set resources = past_maintenances %}
{% set resource_attributes = [
  ("string", "name"), ("obj", "scope"), ("obj", "service"), ("enum", "service_planned_status"), ("enum", "status"), ("string", "external_reference"), ("date", "scheduled_start_date"), ("date", "scheduled_end_date")
] %}
{% include "fragments/table.html" %}
{% endif %}
