{% extends "resource.html" %}
{% set resource_type = "maintenance" %}
{% set resource_endpoint = "maintenance" %}
{% set resource = maintenance %}

{% block resource_metadata %}
  {% include "maintenance/metadata.html" %}
{% endblock %}

{% block resource_extra_content %}
  {% set dots = [] %}
  {% if g.logged %}
    {% set events = maintenance.events %}
  {% else %}
    {% set events = maintenance.events.filter_by(internal = False) %}
  {% endif %}
  {% for event in events %}
    {% set title = event.type.value.capitalize() + " maintenance" %}
    {% if event.internal %}
      {% set title = title + " (internal)" %}
    {% endif %}
    {% set __ = dots.append((event.type.value, title, event.get_content(), event.creation_date)) %}
  {% endfor %}
  {% include "fragments/timeline/vertical.html" %}
{% endblock %}