{% extends "resource.html" %}
{% set resource_type = "maintenance" %}
{% set resource_endpoint = "maintenance" %}
{% set resource = maintenance %}

{% block resource_metadata %}
  {% include "maintenance/metadata.html" %}
{% endblock %}

{% block resource_extra_content %}
  {% set dots = [] %}
  {% for event in maintenance.events %}
    {% if (not event.internal) or (event.internal and g.logged) %}
      {% set title = event.type.value.capitalize() + " maintenance" %}
      {% if event.internal %}
        {% set title = title + " (internal)" %}
      {% endif %}
      {% set __ = dots.append((event.type.value, title, event.get_content(), event.creation_date)) %}
    {% endif %}
  {% endfor %}
  {% include "fragments/timeline/vertical.html" %}
{% endblock %}