{% extends "resource.html" %}
{% set resource_type = "maintenance" %}
{% set resource_endpoint = "maintenance" %}
{% set resource = maintenance %}

{% block resource_metadata %}
  {% include "maintenance/metadata.html" %}
{% endblock %}

{% block resource_extra_content %}
  {% set dots = [] %}
  {% for event in maintenance.events %}
    {% set __ = dots.append((event.type.value, event.type.value.capitalize() + " maintenance", event.get_content(), event.creation_date)) %}
  {% endfor %}
  {% include "fragments/timeline/vertical.html" %}
{% endblock %}