python-dotenv
pyyaml

# Flask requirements
Flask
django-htmlmin
lxml

# Markdown support
Markdown
pygments

# Forms
Flask-WTF
wtforms[email]

# Calendar
icalendar

# ORM
flask_sqlalchemy
Flask-Migrate

## Postgres Database requirements
psycopg2-binary

# WSGI server to run the Flask application
gunicorn

# Token requirements
pyjwt

# API rate limiting requirements
flask-redis

# Integrations
## Datadog
datadog-api-client
## Jenkins
api4jenkins
## DNS
dnspython