{% extends "base.html" %}
{% block title %}{{ _("error_title") }}{% endblock %}

{% set share_title = _("error_title") %}

{% block content %}
<div class="error">
  <h3 id="title">{{ error_title }}</h3>
  <p>{{ error.description.message }}</p>
  {% if error.description.reasons and error.description.reasons != "" %}
    <ul class="reasons">
      {% for attribute, reason in error.description.reasons.items() %}
      <li class="reason">
        {{ attribute }} : {{ ",".join(reason) }}
      </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
{% endblock %}