<div id="target">
  <span id="scope">
    <a href="{{ custom_url_for('scope.show', resource_id=monitor.scope.id) }}">{{ monitor.scope.name }}</a>
  </span>
  /
  <span id="service">
    <a href="{{ custom_url_for('service.show', resource_id=monitor.service.id) }}">{{ monitor.service.name }}</a>
  </span>
</div>
<div id="status" class="badge monitor {{ monitor.status.value }}">{{ icon(monitor.status.value) }}{{ monitor.status.name }}</div>
{% if monitor.integration %}
  <div id="integration" class="badge monitor integration">{{ icon("plugin") }}{{ monitor.integration.capitalize() }}</div>
{% endif %}
{% if monitor.external_link %}
  <div id="external_link" class="badge monitor external_link">
    <a href="{{ monitor.external_link }}" target="_blank" rel="noopener">Go to monitor</a>
  </div>
{% endif %}
{% if monitor.description %}
<div id="description">
  {% for line in monitor.description.split('\n') %}
  <p>{{ line }}</p>
  {% endfor %}
</div>
{% endif %}
