
/*
  Base palette :
    orange: #FF6700;
    darkwhite: #E1E5f2;
    lightgrey: #EBEBEB;
    grey: #C0C0C0;
    lightblue: #3A6EA5;
    blue: #004E98;
*/

/*
  Badge palette:
    purple: #560BAD;  text:  white
    red: #EF476F      text:  white
    orange: #FB8500;  text:  black
    yellow: #FFD166;  text:  black
    green: #06D6A0;   text:  black
    blue: #00A8E8;    text:  white
    dark: #073B4C;    text:  white
/*

/*****
  APP
******/

div#app {
  width: 70%;

  margin: 25px auto;

  overflow: hidden;
  border-radius: 5px;

  background-color: #EBEBEB;
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.3);
}

/******
  MENU
*******/

nav#menu {
  background-color: #3A6EA5;
}

nav#menu ul {
  display: flex;

  margin: 0;
  padding: 0;
}

nav#menu ul li:last-child {
  margin-left: auto;
}

nav#menu li {
  padding: 10px;

  list-style-type: none;
}

nav#menu li.active {
  background-color: #004E98;
}

nav#menu li a {
  text-decoration: none;

  color: white;
}

/*********
  CONTENT
**********/

div#content {
  padding: 10px;
}

.badge {
  display: inline-block;

  padding: 5px;
  margin-right: 5px;

  border-radius: 3px;

  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);

  letter-spacing: 0.5px;
}

.badge.external_reference { background-color: #00A8E8; color: white; }

.badge.incident#severity.critical { background-color: #560BAD; color: white; }
.badge.incident#severity.high     { background-color: #EF476F; color: white; }
.badge.incident#severity.moderate { background-color: #FB8500; }
.badge.incident#severity.low      { background-color: #FFD166; }
.badge.incident#severity.minor    { background-color: #00A8E8; color: white; }

.badge.incident#status.active        { background-color: #EF476F; color: white; }
.badge.incident#status.investigating { background-color: #FB8500; }
.badge.incident#status.stable        { background-color: #FFD166; }
.badge.incident#status.resolved      { background-color: #06D6A0; }


/***************
  RESOURCE LIST
****************/

table#resource-list {
  width: 100%;

  overflow: hidden;

  border-collapse: collapse;
  border-radius: 3px;

  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}

table#resource-list th {
  padding: 12px auto;

  text-align: left;

  background-color: #3A6EA5;
  color: white;
}

table#resource-list th, table#resource-list td {
  padding: 8px;
}

table#resource-list td {
  cursor: pointer;
}

table#resource-list tr:nth-child(even){
  background-color: white;
}

table#resource-list tr:nth-child(odd){
  background-color: #e1e5f2;
}

table#resource-list tr:hover {
  background-color: #EBEBEB;
}

table#resource-list tr.resource:hover {
  background-color: #C0C0C0;
}

table#resource-list td._show {
  width: 20px;
}

/**********
  PAGINATE
***********/

div#pagination {
  margin: 10px;

  text-align: center;
}

div#pagination h4 {
  margin: 10px auto;
}

div#pagination a:hover {
  color: red;
}

/**********
  RESOURCE
***********/

div#resource_metadata {
  margin: auto 10px;
}

div#resource_metadata #description {
  background-color: white;

  border-radius: 3px;
}

div#resource_metadata #description p {
  padding: 10px;
}

div#resource_metadata #target {
  display: inline-block;

  margin-right: 10px;

  font-size: 20px;
  font-weight: bold;
}

div#resource_metadata #target * {
  display: inline-block;
}

/**********
  TIMELINE
***********/

div.timeline {
  margin-top: 50px;
}

div.timeline-vertical {
  display: flex;

  justify-content: center;
}

div.timeline-vertical .dot {
  flex: 1;

  text-align: center;
}

div.timeline-vertical .dot > * {
  display: block;
}

div.timeline-vertical .dot .line {
  display: flex;

  width: 100%;

  align-items: center;
}

div.timeline-vertical .dot .line .dot-icon {
  flex: 1;
}

div.timeline-vertical .dot .line .padding-line, div.timeline-vertical .dot .line .connect-line {
  flex: 6;
}

div.timeline-vertical .dot .line .connect-line {
  height: 5px;

  background-color: #C0C0C0;
}

/********
  FOOTER
*********/

div#footer {
  padding: 5px;

  background-color: #C0C0C0;
  color: white;
}

div#footer a {
  color: white;
}

div#footer a:hover {
  color: red;
}

/******
  FORM
*******/

div#forms h3 {
  padding: 0 10px;

  border-top: 5px solid #C0C0C0;
}

form {
  padding: 0 25px;
}

form .field {
  display: block;

  margin: 5px auto;
  padding: 5px;

  border-bottom: 1px solid #C0C0C0;
}

form .field label, form .field input {
  display: inline-block;
}

form .field label {
  width: 100px;
}

form .field input, form .field textarea {
  padding: 2px;

  border-radius: 2px;
}

form .field textarea {
  width: 50%;
  min-height: 50px;
}
