
body {
  margin: auto;

  min-width: 820px;

  background-color: var(--base-default-background-color);
}

/*****
  APP
******/

div#app {
  width: 70%;

  min-width: 1000px;

  margin: 25px auto;

  overflow: hidden;
  border-radius: 5px;

  background-color: var(--base-primary-background-color);
  color: var(--text-color);
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.3);
}

.hidden {
  display: none !important;
}

/******
  MENU
*******/

nav#menu {
  background-color: var(--base-main-color);
}

nav#menu ul {
  display: flex;

  margin: 0;
  padding: 0;
}

nav#menu ul li:nth-last-child(3) {
  margin-left: auto;
}

nav#menu li {
  padding: 10px;

  list-style-type: none;
}

nav#menu li.active {
  background-color: var(--base-main-darker-color);
}

nav#menu li a {
  text-decoration: none;

  color: white;
  fill: white;
}

/******
  MENU
*******/

div#header {
  text-align: center;
}

/*********
  CONTENT
**********/

div#content {
  padding: 10px;
}

div#icon-library {
  display: none;
}

.icon {
  width: 13px;
  height: 13px;

  margin: -3px 3px auto auto;
  vertical-align: middle;
}

.badge {
  display: inline-block;

  padding: 5px;
  margin-right: 5px;

  border-radius: 3px;

  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);

  letter-spacing: 0.5px;
}

.badge a {
  color: inherit;
  text-decoration: none;
}

.badge.external_reference { background-color: var(--badge-blue-color); color: var(--badge-blue-text-color); }

.badge.incident#severity.critical { background-color: var(--badge-purple-color); color: var(--badge-purple-text-color); }
.badge.incident#severity.high     { background-color: var(--badge-red-color); color: var(--badge-red-text-color); }
.badge.incident#severity.moderate { background-color: var(--badge-orange-color); color: var(--badge-orange-text-color); }
.badge.incident#severity.low      { background-color: var(--badge-yellow-color); color: var(--badge-yellow-text-color); }
.badge.incident#severity.minor    { background-color: var(--badge-blue-color); color: var(--badge-blue-text-color); }

.badge.incident#status.active        { background-color: var(--badge-red-color); color: var(--badge-red-text-color); }
.badge.incident#status.investigating { background-color: var(--badge-orange-color); color: var(--badge-orange-text-color); }
.badge.incident#status.stable        { background-color: var(--badge-yellow-color); color: var(--badge-yellow-text-color); }
.badge.incident#status.resolved      { background-color: var(--badge-green-color); color: var(--badge-green-text-color); }

.badge.maintenance#status.scheduled   { background-color: var(--badge-blue-color); color: var(--badge-blue-text-color); }
.badge.maintenance#status.in-progress { background-color: var(--badge-yellow-color); color: var(--badge-yellow-text-color); }
.badge.maintenance#status.succeed     { background-color: var(--badge-green-color); color: var(--badge-green-text-color); }
.badge.maintenance#status.failed      { background-color: var(--badge-red-color); color: var(--badge-red-text-color); }

.badge.maintenance#service_status.up, .badge.service#status.up             { background-color: var(--badge-green-color); color: var(--badge-green-text-color); }
.badge.maintenance#service_status.degraded, .badge.service#status.degraded { background-color: var(--badge-orange-color); color: var(--badge-orange-text-color); }
.badge.maintenance#service_status.down, .badge.service#status.down         { background-color: var(--badge-red-color); color: var(--badge-red-text-color); }

.badge.monitor#status.ok, .badge.monitor#status.ok .icon           { background-color: var(--badge-green-color); color: var(--badge-green-text-color); fill: var(--badge-green-text-color); }
.badge.monitor#status.warning, .badge.monitor#status.warning .icon { background-color: var(--badge-orange-color); color: var(--badge-orange-text-color); fill: var(--badge-orange-text-color); }
.badge.monitor#status.alert, .badge.monitor#status.alert .icon     { background-color: var(--badge-red-color); color: var(--badge-red-text-color); fill: var(--badge-red-text-color); }

.badge.monitor#external_link   { background-color: var(--badge-blue-color); color: var(--badge-blue-text-color); }
.badge.monitor#external_link a { color: var(--badge-blue-text-color); }

.badge.monitor .count { font-weight: bold; }

.error, .info_message, .info {
  padding: 5px 20px;

  border-radius: 3px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);

  font-weight: bold;
}

.error {
  background-color: var(--badge-red-color);
  color: var(--badge-red-text-color);
}

.info_message, .info {
  background-color: var(--badge-green-color);
  color: var(--badge-green-text-color);
}

/*******
  ABOUT
********/

div#about .about-section {
  margin: 50px;
}

div#about #logo {
  margin: 10px;

  text-align: center;
}

div#about #logo img {
  width: 20%;
}

/***************
  RESOURCE LIST
****************/

table#resource-list {
  width: 100%;

  overflow: hidden;

  border-collapse: collapse;
  border-radius: 3px;

  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}

table#resource-list th {
  padding: 12px auto;

  text-align: left;

  background-color: var(--base-main-color);
  color: white;
}

table#resource-list th, table#resource-list td {
  padding: 8px;
}

table#resource-list td {
  cursor: pointer;
}

table#resource-list tr:nth-child(even){
  background-color: var(--base-default-background-color);
}

table#resource-list tr:nth-child(odd){
  background-color: var(--base-secondary-background-color);
}

table#resource-list tr:hover {
  background-color: var(--base-primary-background-color);
}

table#resource-list tr.resource:hover {
  background-color: var(--base-ternary-background-color);
}

table#resource-list td._show {
  width: 20px;
}

/**********
  PAGINATE
***********/

div#pagination {
  margin: 10px;

  text-align: center;
}

div#pagination h4 {
  margin: 10px auto;
}

div#pagination a:hover {
  color: red;
}

/**********
  RESOURCE
***********/

a#back {
  color: inherit;
  font-weight: bold;

  text-decoration: none;
}

a#back:hover {
  color: red;
}


div#resource_metadata {
  margin: 10px;
}

div#resource_metadata a {
  color: inherit;
}

div#resource_metadata a:hover {
  color: red;
}

div#resource_metadata #description {
  margin-top: 15px;

  padding: 10px 15px;

  background-color: var(--base-default-background-color);

  border-radius: 3px;
}

div#resource_metadata #description p {
  margin: 5px auto;
}

div#resource_metadata #target {
  display: inline-block;

  margin-right: 10px;

  font-size: 20px;
  font-weight: bold;
}

div#resource_metadata #target * {
  display: inline-block;
}

div#extra_content {
  margin: 15px 0 0 10px;
}

div#extra_content #monitors, div#content #monitors {
  display: inline-block;

  margin: auto 10px auto auto;
}

/**********
  TIMELINE
***********/

div.timeline-horizontal {
  display: flex;

  margin-top: 50px;

  justify-content: center;
}

div.timeline-horizontal .dot {
  flex: 1;

  text-align: center;
}

div.timeline-horizontal .dot > * {
  display: block;
}

div.timeline-horizontal .dot .line {
  display: flex;
  flex-direction: row;

  width: 100%;

  align-items: center;
}

div.timeline-horizontal .dot .line .dot-icon {
  display: block !important;

  flex: 1;

  margin: auto 5px;

  font-style: normal;
}

div.timeline-horizontal .dot .line .dot-icon .icon {
  width: 25px;
  height: 25px;

  margin: -3px 3px auto 3px;
}

div.timeline-horizontal .dot .line .padding-line, div.timeline-horizontal .dot .line .connect-line {
  flex: 6;
}

div.timeline-horizontal .dot .line .connect-line {
  height: 5px;

  background-color: var(--base-ternary-background-color);
}

div.timeline-vertical {
  text-align: center;
}

div.timeline-vertical .dot {
  display: flex;
  flex-direction: column;

  margin: 12px auto;
  width: 70%;

  text-align: left;

  border-radius: 3px;

  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}

div.timeline-vertical .dot.comment {
  background-color: var(--base-secondary-color);
  color: white;
}

div.timeline-vertical .dot.update, div.timeline-vertical .dot.create {
  background-color: var(--base-main-color);
  color: white;
}

div.timeline-vertical .dot .content {
  flex: 1;

  margin: auto 5px;
  padding: 10px;
}

div.timeline-vertical .dot .content > * {
  display: block;
}

div.timeline-vertical .dot .content .title {
  margin: 5px auto;
}

div.timeline-vertical .dot .content .data {
  margin-left: 20px;
}

div.timeline-vertical .dot .content .data .line {
  margin: 3px auto;
}

/********
  FOOTER
*********/

div#footer {
  padding: 5px;

  background-color: var(--base-ternary-background-color);
  color: var(--text-color);
}

div#footer a {
  color: inherit;
}

div#footer a:hover {
  color: red;
}

div#footer span.powered {
  display: inline-block;
}

div#footer span.powered#flaticon {
  font-size: 12px;
  float: right;
}

/******
  FORM
*******/

div#forms .form-toogle {
  height: 25px;

  margin: 20px 10px;
  padding: 0 10px;
}

form {
  padding: 0 25px;
}

form .field {
  display: block;

  margin: 5px auto;
  padding: 5px;

  border-bottom: 1px solid var(--base-ternary-background-color);
}

form .field label, form .field input {
  display: inline-block;
}

form .field label {
  width: 100px;
}

form .field input, form .field textarea {
  padding: 2px;

  border-radius: 2px;
}

form .field textarea {
  width: 50%;
  min-height: 50px;
}
