{% extends "base.html" %}
{% set share_title = _("about_title") %}
{% block title %}{{ share_title }}{% endblock %}
{% set is_about = True %}

{% set git_project_url = "https://gitlab.com/prod-manager/prod-manager" %}

{% block content %}
<h1 id="title">{{ _("about_title_alt") }} ProdManager</h1>
<div id="about">
  <div id="logo" class="about-section">
    <img alt="Prod Manager logo" src="{{ custom_url_for('static', filename='img/prod-manager.svg') }}" />
  </div>

  <div id="init" class="about-section">
    <p>{{ _("about_content") }}</p>
    <p>
      <a href="{{ git_project_url }}/-/releases" target="_blank" rel="noopener">
        {{ _("about_update") }}
      </a>
    </p>
  </div>

  <div id="sources" class="about-section">
    <h3>{{ _("about_source", 2) }}</h3>
    <p>
      {{ _("about_licence_pre") }} :
      <a href="{{ git_project_url }}/-/blob/master/LICENCE" target="_blank" rel="noopener">
        {{ _("about_licence") }}
      </a>
    </p>
    <p>
      {{ _("about_source_code") }} :
      <a href="{{ git_project_url }}" target="_blank" rel="noopener">
        {{ _("about_source_code_link_text") }}
      </a>
    </p>
  </div>

  <div id="community" class="about-section">
    <h3>{{ _("about_bug_feature") }}</h3>
    <p>
      {{ _("about_bug_feature_pre") }} :
      <a href="{{ git_project_url }}/-/issues/new" target="_blank" rel="noopener">
        {{ _("about_bug_feature_link_text") }}
      </a>
    </p>
  </div>
</div>
{% endblock %}