{% from "icons/macros.html" import icon %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %} - ProdManager</title>

    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">

    {% if share_title %}
      <meta property="og:title" content="{{ share_title }} - ProdManager">
    {% else %}
      <meta property="og:title" content="ProManager">
    {% endif %}
    {% if share_description %}
      <meta property="og:description" content="{{ share_description }}">
    {% else %}
      <meta property="og:description" content="Prod manager is a lightweight tool that allow you to display your production infrastructure status to your client.">
    {% endif %}
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ request.url }}">
    {% if is_it_winter() %}
    <meta property="og:image" content="{{ custom_url_for('static', filename='img/prod-manager-winter.png') }}">
    {% else %}
    <meta property="og:image" content="{{ custom_url_for('static', filename='img/prod-manager.png') }}">
    {% endif %}

    <link rel="apple-touch-icon" sizes="180x180" href="{{ custom_url_for('static', filename='img/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ custom_url_for('static', filename='img/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ custom_url_for('static', filename='img/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ custom_url_for('static', filename='site.webmanifest') }}">

    <link rel="stylesheet" href="{{ custom_url_for('static', filename='css/theme.css') }}">
    <link rel="stylesheet" href="{{ custom_url_for('static', filename='css/style.css') }}">
    {% if config['CUSTOM_CSS_SHEET'] %}
      <link rel="stylesheet" href="{{ custom_url_for('static', filename=config['CUSTOM_CSS_SHEET']) }}">
    {% endif %}
    {% if is_it_winter() %}
      <style>{% include "fragments/winter/style.css" %}</style>
    {% endif %}

    {% block head %}{% endblock %}
  </head>
  <body>
    {% include "icons/all.html" %}
    <div id="app">
      <div id="header">
        <nav id="menu">
          <ul>
            <li id="dashboard" class="{{ 'active' if is_dashboard }}">
              <a id="dashboard" href="{{ custom_url_for('root.index')}}">{{ icon('dashboard') }}{{ _("dashboard_title") }}</a>
            </li>
            <li id="scope" class="{{ 'active' if resource_type == 'scope' }}">
              <a id="scope" href="{{ custom_url_for('scope.list')}}">{{ icon('scope') }}{{ _("scope_title", 2) }}</a>
            </li>
            <li id="service" class="{{ 'active' if resource_type == 'service' }}">
              <a id="service" href="{{ custom_url_for('service.list')}}">{{ icon('service') }}{{ _("service_title", 2) }}</a>
            </li>
            <li id="monitor" class="{{ 'active' if resource_type == 'monitor' }}">
              <a id="monitor" href="{{ custom_url_for('monitor.list')}}">{{ icon('monitor') }}{{ _("monitor_title", 2) }}</a>
            </li>
            <li id="incident" class="{{ 'active' if resource_type == 'incident' }}">
              <a id="incident" href="{{ custom_url_for('incident.list')}}">{{ icon('incident') }}{{ _("incident_title", 2) }}</a>
            </li>
            <li id="maintenance" class="{{ 'active' if resource_type == 'maintenance' }}">
              <a id="maintenance" href="{{ custom_url_for('maintenance.list')}}">{{ icon('maintenance') }}{{ _("maintenance_title", 2) }}</a>
            </li>
              <li id="subscribe" class="{{ 'active' if is_subscribe }}">
                {% if config["MAIL_ENABLED"] %}
                <a id="subscribe" href="{{ custom_url_for('notification.index')}}">{{ icon('notification') }}{{ _("notification_subscribe_title") }}</a>
                {% endif %}
              </li>
            <li id="about" class="{{ 'active' if is_about }}">
              <a id="about" href="{{ custom_url_for('root.about')}}">{{ icon('about') }}{{ _("about_title") }}</a>
            </li>
            {% if g.logged %}
            <li id="logout" class="{{ 'active' if is_auth }}">
              <a id="logout" href="{{ custom_url_for('auth.logout') }}">{{ _("auth_logout_title") }}</a>
            </li>
            {% else %}
            <li id="login" class="{{ 'active' if is_auth }}">
              <a id="login" href="{{ custom_url_for('auth.login') }}">{{ _("auth_login_title") }}</a>
            </li>
            {% endif %}
          </ul>
        </nav>
      </div>
      <div id="content">
        {% set info_query = request.args.get("info_message") %}
        {% if info_query %}
          {% set info_message=dict(message=info_query) %}
        {% endif %}
        
        {% include "fragments/auto_reload.html" %}

        {% if info_message %}
          {% include "fragments/info.html" %}
        {% endif %}

        {% block content %}{% endblock %}
      </div>
      <div id="footer">
        {% block footer %}{% endblock %}
        <span class="powered" id="prodmanager">
          {{ _("footer_powered") }}
          <a href="https://prod-manager.tiwabbit.fr">ProdManager</a>
        </span>
        <span class="powered" id="flaticon">
          {{ _("footer_powered_icon") }}
          <a href="https://www.flaticon.com/uicons">Flaticon</a>
        </span>
        <!-- Made by <a href="https://lunik.tiwabbit.fr" id="copyright">Lunik</a>-->
      </div>
    </div>
    <script src="{{ custom_url_for('static', filename='js/app.js') }}"></script>
  </body>
</html>