<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %} - ProManager</title>

    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    {% block head %}{% endblock %}
  </head>
  <body>
    <div id="header">
      <a id="home" href="{{ url_for('root.index')}}">Home</a>
      {% if g.jwt %}
      <a id="logout" href="{{ url_for('auth.logout') }}">Logout</a>
      {% else %}
      <a id="login" href="{{ url_for('auth.login') }}">Login</a>
      {% endif %}
    </div>
    <div id="content">
      {% if error %}
        <p id="error">{{ error.message }}</p>
        {% if "reasons" in error %}
        <ul>
        {% for param, message in error.reasons.items() %}
          <li>{{ param }} : {{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}
      {% endif %}
      {% block content %}{% endblock %}
    </div>
    <div id="footer">
      {% if paginate %}
        <div id="pagination">
          {% if paginate_obj.has_prev %}
            <a href="{{ url_for(resource_endpoint + '.list', page=paginate_obj.prev_num, per_page=paginate_obj.per_page) }}" id="previous">&lt; Previous</a>
          {% endif %}
          {% for page in paginate_obj.iter_pages() %}
            {% if page %}
              {% if page != paginate_obj.page %}
                <a href="{{ url_for(resource_endpoint + '.list', page=page, per_page=paginate_obj.per_page) }}">{{ page }}</a>
              {% else %}
                <strong>{{ page }}</strong>
              {% endif %}
            {% else %}
              <span class=ellipsis>…</span>
            {% endif %}
          {% endfor %}
          {% if paginate_obj.has_next %}
            <a href="{{ url_for(resource_endpoint + '.list', page=paginate_obj.next_num, per_page=paginate_obj.per_page) }}" id="next">Next &gt;</a>
          {% endif %}
        </div>
      {% endif %}
      {% block footer %}{% endblock %}
      &copy; Copyright 2021 by <a href="https://lunik.tiwabbit.fr" id="copyright">Lunik</a>.
    </div>
  </body>
</html>