<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %} - ProManager</title>

    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    {% block head %}{% endblock %}
  </head>
  <body>
    <div id="app">
      <div id="header">
        <nav id="menu">
          <ul>
            <li id="home" class="{{ 'active' if is_home }}">
              <a id="home" href="{{ url_for('root.index')}}">Home</a>
            </li>
            <li id="scope" class="{{ 'active' if resource_type == 'scope' }}">
              <a id="scope" href="{{ url_for('scope.list')}}">Scopes</a>
            </li>
            <li id="service" class="{{ 'active' if resource_type == 'service' }}">
              <a id="service" href="{{ url_for('service.list')}}">Services</a>
            </li>
            <li id="monitor" class="{{ 'active' if resource_type == 'monitor' }}">
              <a id="monitor" href="{{ url_for('monitor.list')}}">Monitors</a>
            </li>
            <li id="incident" class="{{ 'active' if resource_type == 'incident' }}">
              <a id="incident" href="{{ url_for('incident.list')}}">Incidents</a>
            </li>
            <li id="maintenance" class="{{ 'active' if resource_type == 'maintenance' }}">
              <a id="maintenance" href="{{ url_for('maintenance.list')}}">Maintenances</a>
            </li>
            {% if g.logged %}
            <li id="logout" class="{{ 'active' if is_auth }}">
              <a id="logout" href="{{ url_for('auth.logout') }}">Logout</a>
            </li>
            {% else %}
            <li id="login" class="{{ 'active' if is_auth }}">
              <a id="login" href="{{ url_for('auth.login') }}">Login</a>
            </li>
            {% endif %}
          </ul>
        </nav>
      </div>
      <div id="content">
        {% if error %}
          {% include "fragments/error.html" %}
        {% endif %}
        {% block content %}{% endblock %}
      </div>
      <div id="footer">
        {% block footer %}{% endblock %}
        Powered by ProdManager
        <!-- Made by <a href="https://lunik.tiwabbit.fr" id="copyright">Lunik</a>-->
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  </body>
</html>