{% extends "base.html" %}
{% set share_title = _("dashboard_title") %}
{% block title %}{{ share_title }}{% endblock %}
{% set is_dashboard = True %}

{% block content %}
<h1 id="title">{{ _("dashboard_title") }}</h1>

<h2 id="monitors">{{ _("monitor_title", 2) }} :</h2> {% include "monitor/resume.html" %}

{% include "incident/ongoing.html" %}
{% include "maintenance/ongoing.html" %}

{% include "maintenance/scheduled.html" %}

{% include "incident/past.html" %}
{% include "maintenance/past.html" %}

{% endblock %}