{% extends "base.html" %}

{% set share_title = _("resource_" + resource_type) %}
{% if resource.external_reference %}
{% set share_title = share_title + " " + resource.external_reference %}
{% endif %}
{% set share_title = share_title + " - " %}
{% if resource.scope and resource.service %}
{% set share_title = share_title + resource.scope.name + "/" + resource.service.name + " " %}
{% endif %}
{% set share_title = share_title + resource.name %}

{% block title %}{{ share_title }}{% endblock %}

{% set share_description = resource.description %}

{% block content %}
  <a href="{{ custom_url_for(resource_endpoint + '.list') }}" id="back">&lt;&lt; {{ _("resource_back_to_list_" + resource_type) }}</a>
  <h1 id="title">{{ _("resource_" + resource_type) }} - {{ resource.name }}</h1>
  {% if config['STATS_ENABLED'] %}
    {% include "fragments/stats/resource_view.html" %}
  {% endif %}
  <div id="resource_metadata">
    {% block resource_metadata %}{% endblock %}
  </div>
  <div id="extra_content">
    {% block resource_extra_content %}{% endblock %}
  </div>

  {% if g.logged %}
    <div id="forms">
      {% if update_form %}
        {% with form_title=_("resource_update_" + resource_type), form_id="update-" + resource_type, form_method="post", form_action=custom_url_for(resource_endpoint + '.update', resource_id=resource.id), form_submit_value=_("resource_update_submit").capitalize(), form=update_form %}
          {% include "fragments/form.html" %}
        {% endwith %}
      {% endif %}

      {% if comment_form %}
        {% with form_title=_("resource_comment_" + resource_type), form_id="comment-" + resource_type, form_method="post", form_action=custom_url_for(resource_endpoint + '.comment', resource_id=resource.id), form_submit_value=_("resource_comment_submit").capitalize(), form=comment_form %}
          {% include "fragments/form.html" %}
        {% endwith %}
      {% endif %}

      {% if delete_form %}
        {% with form_title=_("resource_delete_" + resource_type), form_id="delete-" + resource_type, form_method="post", form_action=custom_url_for(resource_endpoint + '.delete', resource_id=resource.id), form_submit_value=_("resource_delete_submit").capitalize(), form=delete_form %}
          {% include "fragments/form.html" %}
        {% endwith %}
      {% endif %}
    </div>
  {% endif %}

{% endblock %}
