{% extends "base.html" %}
{% set share_title = _("resource_list_" + resource_type) %}
{% block title %}{{ share_title }}{% endblock %}

{% block content %}
<h1>{{ _("resource_list_" + resource_type) }}</h1>
{% with resources = resources.items %}
  {% include "fragments/table.html" %}
{% endwith %}
{% if paginate and (paginate_obj.pages > 1) %}
  <div id="pagination">
    <h4>{{ _("resource_pagination_header") }}</h4>
    {% if paginate_obj.has_prev %}
      <a href="{{ url_for_paginated(resource_endpoint + '.list', page=paginate_obj.prev_num, per_page=paginate_obj.per_page) }}" id="previous">&lt; {{ _("resource_pagination_previous") }}</a>
    {% endif %}
    {% for page in paginate_obj.iter_pages() %}
      {% if page %}
        {% if page != paginate_obj.page %}
          <a href="{{ url_for_paginated(resource_endpoint + '.list', page=page, per_page=paginate_obj.per_page) }}">{{ page }}</a>
        {% else %}
          <strong>{{ page }}</strong>
        {% endif %}
      {% else %}
        <span class=ellipsis>…</span>
      {% endif %}
    {% endfor %}
    {% if paginate_obj.has_next %}
      <a href="{{ url_for_paginated(resource_endpoint + '.list', page=paginate_obj.next_num, per_page=paginate_obj.per_page) }}" id="next">{{ _("resource_pagination_next") }} &gt;</a>
    {% endif %}
  </div>
{% endif %}

{% if g.logged %}
<div id="forms">
  {% if create_form %} 
    {% with form_title=_("resource_list_create_" + resource_type), form_id="create-" + resource_type, form_method="post", form_action=custom_url_for(resource_endpoint + '.create'), form_submit_value=_("resource_list_create_submit").capitalize(), form=create_form %}
      {% include "fragments/form.html" %}
    {% endwith %}
  {% endif %}
</div>
{% endif %}
{% endblock %}

{% set paginate = True %}
{% set paginate_obj = resources %}
