{% extends "base.html" %}
{% block title %}{{ resource_type.capitalize() }}{% endblock %}

{% set share_title = resource_type.capitalize() %}
{% if resource.external_reference %}
{% set share_title = share_title + " " + resource.external_reference %}
{% endif %}
{% set share_title = share_title + " - " %}
{% if resource.scope and resource.service %}
{% set share_title = share_title + resource.scope.name + "/" + resource.service.name + " " %}
{% endif %}
{% set share_title = share_title + resource.name %}

{% set share_description = resource.description %}

{% block content %}
  <a href="{{ custom_url_for(resource_endpoint + '.list') }}" id="back">&lt;&lt; Back to {{ resource_type }} list</a>
  <h1 id="title">{{ resource_type.capitalize() }} - {{ resource.name }}</h1>
  <div id="resource_metadata">
    {% block resource_metadata %}{% endblock %}
  </div>
  <div id="extra_content">
    {% block resource_extra_content %}{% endblock %}
  </div>

  {% if g.logged %}
    <div id="forms">
      {% if update_form %}
        {% with form_title="Edit the " + resource_type + " info", form_id="update-" + resource_type, form_method="post", form_action=custom_url_for(resource_endpoint + '.update', resource_id=resource.id), form_submit_value="Update", form=update_form %}
          {% include "fragments/form.html" %}
        {% endwith %}
      {% endif %}

      {% if comment_form %}
        {% with form_title="Add a comment to the " + resource_type, form_id="comment-" + resource_type, form_method="post", form_action=custom_url_for(resource_endpoint + '.comment', resource_id=resource.id), form_submit_value="Comment", form=comment_form %}
          {% include "fragments/form.html" %}
        {% endwith %}
      {% endif %}

      {% if delete_form %}
        {% with form_title="Delete the " + resource_type, form_id="delete-" + resource_type, form_method="post", form_action=url_for(resource_endpoint + '.delete', resource_id=resource.id), form_submit_value="Delete", form=delete_form %}
          {% include "fragments/form.html" %}
        {% endwith %}
      {% endif %}
    </div>
  {% endif %}

{% endblock %}
