{% extends "base.html" %}
{% block title %}{{ resource_type.capitalize() }}{% endblock %}

{% block content %}
<h1>{{ resource_type.capitalize() }}s list</h1>
{% with resources = resources.items %}
  {% include "fragments/table.html" %}
{% endwith %}
{% if paginate and (paginate_obj.pages > 1) %}
  <div id="pagination">
    <h4>Pages</h4>
    {% if paginate_obj.has_prev %}
      <a href="{{ url_for(resource_endpoint + '.list', page=paginate_obj.prev_num, per_page=paginate_obj.per_page) }}" id="previous">&lt; Previous</a>
    {% endif %}
    {% for page in paginate_obj.iter_pages() %}
      {% if page %}
        {% if page != paginate_obj.page %}
          <a href="{{ url_for(resource_endpoint + '.list', page=page, per_page=paginate_obj.per_page) }}">{{ page }}</a>
        {% else %}
          <strong>{{ page }}</strong>
        {% endif %}
      {% else %}
        <span class=ellipsis>…</span>
      {% endif %}
    {% endfor %}
    {% if paginate_obj.has_next %}
      <a href="{{ url_for(resource_endpoint + '.list', page=paginate_obj.next_num, per_page=paginate_obj.per_page) }}" id="next">Next &gt;</a>
    {% endif %}
  </div>
{% endif %}

{% if g.logged %}
<div id="forms">
  {% if create_form %} 
    <h3>Create new {{ resource_type }}</h3>
    {% with form_id="create-" + resource_type, form_method="post", form_action=url_for(resource_endpoint + '.create'), form_submit_value="Create", form=create_form %}
      {% include "fragments/form.html" %}
    {% endwith %}
  {% endif %}
</div>
{% endif %}
{% endblock %}

{% set paginate = True %}
{% set paginate_obj = resources %}
