# When adding a group as a code owner, make sure to invite the group to the
# project here: https://gitlab.com/prod-manager/prod-manager/-/project_members
# As described in https://docs.gitlab.com/ee/user/project/code_owners.html

^[Owner]
/.gitlab/ @Lunik
/resources/ @Lunik
/*.md @Lunik
/LICENCE @Lunik

^[Backend]
*.py @Lunik
/docs/api/ @Lunik
/requirements* @Lunik

^[Frontend]
/ProdManager/static/ @Lunik
/ProdManager/templates/ @Lunik

^[Database]
/migrations/ @Lunik
/ProdManager/models/ @Lunik

^[OPS]
/deploy/ @Lunik
/docker/ @Lunik
/docs/config/ @Lunik
/Makefile @Lunik

^[Tester]
/tests/ @Lunik
/.gitlab-ci.yml @Lunik
/.pylintrc @Lunik
/ProdManager/demo/ @Lunik
