<div id="icon-library" style="display: none">
  {% include "icons/about.svg" %}
  {% include "icons/alert.svg" %}
  {% include "icons/check.svg" %}
  {% include "icons/clock-end.svg" %}
  {% include "icons/clock-start.svg" %}
  {% include "icons/dashboard.svg" %}
  {% include "icons/incident.svg" %}
  {% include "icons/investigating.svg" %}
  {% include "icons/login.svg" %}
  {% include "icons/logout.svg" %}
  {% include "icons/loud-warning.svg" %}
  {% include "icons/maintenance.svg" %}
  {% include "icons/monitor.svg" %}
  {% include "icons/notification.svg" %}
  {% include "icons/ok.svg" %}
  {% include "icons/play.svg" %}
  {% include "icons/scope.svg" %}
  {% include "icons/service.svg" %}
  {% include "icons/warning.svg" %}
  {% include "icons/angle-right.svg" %}
  {% include "icons/plugin.svg" %}
  {% include "icons/announcement.svg" %}
  {% include "icons/bell-ring.svg" %}
  {% if config['STATS_ENABLED'] %}
    {% include "icons/eye.svg" %}
  {% endif %}
</div>