{% from "icons/macros.html" import icon %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ _("notification_about") }} {{ _(resource_type + "_title") }} - {{ resource.name }}</title>

    <meta charset="utf-8">

    <style id="theme">
      {{ include_file("static/css/theme.css") }}
    </style>
    <style id="style">
      {{ include_file("static/css/style-mail.css") }}
    </style>
    {% if config['CUSTOM_CSS_SHEET'] %}
    <style id="custom">
      {{ include_file(config['CUSTOM_CSS_SHEET']) }}
    </style>
    {% endif %}
  </head>
  <body>
    {% include "icons/all.html" %}
    <div id="app">
      <div id="header">
        <a href="{{ custom_url_for(resource_type + '.show', resource_id=resource.id) }}">
          {{ _("notification_show_in_browser") }}
        </a>
      </div>
      <div id="content">
        <h1 id="title">{{ _(resource_type + "_title") }} - {{ resource.name }}</h1>
        <div id="resource_metadata">
          {% block content %}{% endblock %}
        </div>
      </div>
      <div id="footer">
        <div>
          {% block footer %}{% endblock %}
        </div>
        <div>
          {{ _("footer_powered") }}
          <a href="https://gitlab.com/prod-manager/prod-manager">ProdManager</a>
        </div>
        <div>
          <a href="{{ custom_url_for('notification.index') }}">{{ _("notification_unsubscribe_title") }}</a>
        </div>
        <!-- Made by <a href="https://lunik.tiwabbit.fr" id="copyright">Lunik</a>-->
      </div>
    </div>
  </body>
</html>