<table id="resource-list">
  <tr>
    {% for _, key in resource_attributes %}
      <th>{{ key | format_column_name }}</th>
    {% endfor %}
    <th></th>
  </tr>
  {% for resource in resources %}
  <tr class="resource" id="resource-{{ resource.id }}" onclick="document.location = '{{ url_for(resource_endpoint + '.show', resource_id=resource.id) }}';">
    {% for type, key in resource_attributes %}
      {% set attr = resource[key] %}
      <td class="{{ type }}">
        {% if type == "enum" %}  
          <div id="{{ key }}" class="badge {{ resource_type }} {{ attr.value }}">{{ attr.name }}</div>
        {% elif type == "count" %}
          {{ attr.count() }}
        {% elif type == "obj" %}
          {{ attr.name }}
        {% elif type == "date" %}
          {% if attr %}
            {{ attr | format_timeline_date }}
          {% else %}
            {{ attr }}
          {% endif %}
        {% else %}
          {{ attr }}
        {% endif %}
      </td>
      {% set first_colum = False %}
    {% endfor %}
    <td class="_show">
      <a href="{{ url_for(resource_endpoint + '.show', resource_id=resource.id) }}">show</a>
    </td>
  </tr>
  {% endfor %}
</table>