<table id="resource-list">
  <tr>
    {% for type, key in resource_attributes %}
      {% if type == "template" %}
        <th>{{ _("table_column_" + (key | format_template_name), 2).capitalize() }}</th>
      {% else %}
        <th>{{ _("table_column_" + key).capitalize() }}</th>
      {% endif %}
    {% endfor %}
  </tr>
  {% for resource in resources %}
  <tr class="resource" id="resource-{{ resource.id }}" onclick="document.location = '{{ custom_url_for(resource_endpoint + '.show', resource_id=resource.id) }}';">
    {% for type, key in resource_attributes %}
      {% set attr = resource[key] %}
      <td class="{{ type }}">
        {% if attr %}
          {% if type == "enum" %}
            <div id="{{ key }}" class="badge {{ resource_type }} {{ attr.value }}">
            {% if resource_type == "monitor" %}
              {{ icon(attr.value) }}
            {% endif %}
            {{ _(resource_type + "_" + key + "_" + attr.value) }}
            </div>
          {% elif type == "count" %}
            {{ attr.count() }}
          {% elif type == "obj" %}
            {{ attr.name }}
          {% elif type == "template" %}
            {% if resource_type == "scope" %}
              {% with scope = resource %}
                {% include key %}
              {% endwith %}
            {% elif resource_type == "service" %}
              {% with service = resource %}
                {% include key %}
              {% endwith %}
            {% else %}
              {% include key %}
            {% endif %}
          {% elif type == "date" %}
            {% if attr %}
              {{ attr | format_timeline_date }}
            {% else %}
              {{ attr }}
            {% endif %}
          {% else %}
            {% if key == "external_reference" %}
              <div id="{{ key }}" class="badge {{ resource_type }} {{ key }}">{{ attr }}</div>
            {% else %}
              {{ attr }}
            {% endif %}
          {% endif %}
        {% endif %}
      </td>
      {% set first_colum = False %}
    {% endfor %}
  </tr>
  {% endfor %}
</table>