<div class="timeline timeline-horizontal">
  {% for dot_id, dot_title, dot_date, dot_icon in dots %}
    <div class="dot" id="{{ dot_id }}">
      <div class="line">
        {% if loop.first %}
          <div class="padding-line"></div>
        {% else %}
          <div class="connect-line"></div>
        {% endif %}
        <em class="dot-icon" style="display: none">{{ dot_icon }}</em>
        {% if loop.last %}
          <div class="padding-line"></div>
        {% else %}
          <div class="connect-line"></div>
        {% endif %}
      </div>
      <p>{{ dot_title | format_column_name }}</p>
      <p>{{ dot_date | format_timeline_date }}</p>
    </div>
  {% endfor %}
</div>