<div class="timeline timeline-vertical">
  {% for dot_type, dot_title, dot_content, dot_date in dots %}
    <div class="dot {{ dot_type }} {% if dot_type in ['create', 'update'] %}hidden{% endif %}">
      <div class="content">
        <p class="date">{{ dot_date | format_timeline_date }}</p>
        <h4 class="title">{{ dot_title }}</h4>
        <div class="data">
          {% if dot_type in ['create', 'update'] %}
            {% for attribute, value in dot_content.items() %}
              {% if dot_type == 'create' %}
                {% if (value is not none) and (value != "") %}
                  <p class="line">{{ attribute }} = {{ value }}</p>
                {% endif %}
              {% elif dot_type == 'update' %}
                <p class="line">{{ attribute }} : {{ value[0] }} => {{ value[1] }}</p>
              {% endif %}
            {% endfor %}
          {% else %}
            {{ dot_content | markdown }}
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
{% if g.logged %}
<button class="technical-event-toggle display-toggle" target=".dot.update, .dot.create">{{ _("timeline_show_technical_events") }}</button>
{% endif %}
</div>