{% extends "resource.html" %}
{% set resource_type = "service" %}
{% set resource_endpoint = "service" %}
{% set resource = service %}

{% block resource_metadata %}
  {% include "service/metadata.html" %}
{% endblock %}

{% block resource_extra_content %}
  <h2 id="monitors">{{ icon('monitor') }}{{ _("monitor_title", 2) }} :</h2> {% include "monitor/resume.html" %}

  {% include "announcement/ongoing.html" %}
  {% include "incident/ongoing.html" %}
  {% include "maintenance/ongoing.html" %}

  {% include "maintenance/scheduled.html" %}

  {% include "incident/past.html" %}
  {% include "maintenance/past.html" %}
{% endblock %}
