{% extends "resource.html" %}
{% set resource_type = "service" %}
{% set resource_endpoint = "service" %}
{% set resource = service %}

{% block resource_metadata %}
  {% include "service/metadata.html" %}
{% endblock %}

{% block resource_extra_content %}
  <h3 id="monitors">Monitors :</h3> {% include "monitor/resume.html" %}

  {% include "incident/ongoing.html" %}
  {% include "maintenance/ongoing.html" %}

  {% include "incident/past.html" %}
  {% include "maintenance/past.html" %}
{% endblock %}
