<div id="target">
  <span id="scope">
    <a href="{{ custom_url_for('scope.show', resource_id=incident.scope.id) }}">{{ incident.scope.name }}</a>
  </span>
  /
  <span id="service">
    <a href="{{ custom_url_for('service.show', resource_id=incident.service.id) }}">{{ incident.service.name }}</a>
  </span>
</div>
{% if incident.external_reference %}
  <div id="external_reference" class="badge external_reference">{{ incident.external_reference }}</div>
{% endif %}
<div id="severity" class="badge incident {{ incident.severity.value }}">{{ _("incident_severity_" + incident.severity.value) }}</div>
<div id="status" class="badge incident {{ incident.status.value }}">{{ _("incident_status_" + incident.status.value) }}</div>
{% if incident.description %}
<div id="description">
  {% for line in incident.description.split('\n') %}
  <p>{{ line }}</p>
  {% endfor %}
</div>
{% endif %}

{% set dots = [("start_impact_date", _("incident_start_impact"), incident.start_impact_date, "loud-warning")] %}
{% if incident.investigation_date %}
  {% set __ = dots.append(("investigation_date", _("incident_investigation"), incident.investigation_date, "investigating")) %}
{% endif %}
{% if incident.stable_date %}
  {% set __ = dots.append(("stable_date", _("incident_stable"), incident.stable_date, "ok")) %}
{% endif %}
{% if incident.resolve_date %}
  {% set __ = dots.append(("resolve_date", _("incident_resolved"), incident.resolve_date, "check")) %}
{% endif %}
{% include "fragments/timeline/horizontal.html" %}
