<div id="target">
  <div id="scope">
    <a href="{{ url_for('scope.show', resource_id=incident.scope.id) }}">{{ incident.scope.name }}</a>
  </div>
  /
  <div id="service">
    <a href="{{ url_for('service.show', resource_id=incident.service.id) }}">{{ incident.service.name }}</a>
  </div>
</div>
{% if incident.external_reference %}
  <div id="external_reference" class="badge external_reference">{{ incident.external_reference }}</div>
{% endif %}
<div id="severity" class="badge incident {{ incident.severity.value }}">{{ incident.severity.name }}</div>
<div id="status" class="badge incident {{ incident.status.value }}">{{ incident.status.name }}</div>
{% if incident.description %}
<div id="description">
  {% for line in incident.description.split('\n') %}
  <p>{{ line }}</p>
  {% endfor %}
</div>
{% endif %}

{% set dots = [("start_impact_date", "impact", incident.start_impact_date, "⚠️")] %}
{% if incident.investigation_date %}
  {% set __ = dots.append(("investigation_date", "investigating", incident.investigation_date, "🔍")) %}
{% endif %}
{% if incident.stable_date %}
  {% set __ = dots.append(("stable_date", "stable", incident.stable_date, "☑️")) %}
{% endif %}
{% if incident.resolve_date %}
  {% set __ = dots.append(("resolve_date", "resolved", incident.resolve_date, "✅")) %}
{% endif %}
{% include "fragments/timeline/horizontal.html" %}
