{% if (ongoing_incidents.count()) > 0 %}
{% set scope_id = (scope | default({})).id | default(None) %}
{% set service_id = (service | default({})).id | default(None) %}
<h2 id="ongoing_incidents">
  <a href="{{ custom_url_for('incident.list', status=ongoing_incidents_filters, scope=scope_id, service=service_id) }}">
    {{ _("incident_ongoing").capitalize() }} {{ icon("angle-right") }}
  </a>
</h2>
{% set resource_type = "incident" %}
{% set resource_endpoint = "incident" %}
{% set resources = ongoing_incidents %}
{% set resource_attributes = [
  ("string", "name"), ("obj", "scope"), ("obj", "service"), ("enum", "severity"), ("enum", "status"), ("string", "external_reference"), ("date", "start_impact_date")
] %}
{% include "fragments/table.html" %}
{% endif %}
