{% extends "resource.html" %}
{% set resource_type = "incident" %}
{% set resource_endpoint = "incident" %}
{% set resource = incident %}

{% block resource_metadata %}
  {% include "incident/metadata.html" %}
{% endblock %}

{% block resource_extra_content %}
  {% set dots = [] %}
  {% if g.logged %}
    {% set events = incident.events %}
  {% else %}
    {% set events = incident.events.filter_by(internal = False) %}
  {% endif %}
  {% for event in events %}
    {% set title = _("incident_" + event.type.value + "_event").capitalize() %}
    {% if event.internal %}
      {% set title = title + " (" + _("resource_event_internal") + ")" %}
    {% endif %}
    {% set __ = dots.append((event.type.value, title, event.get_content(), event.creation_date)) %}
  {% endfor %}
  {% include "fragments/timeline/vertical.html" %}
{% endblock %}